.container {
  padding: 2%;
  height: 50vw;
  display: flex;
  background-color: #edf0f7;
  border-radius: 1rem;
}

.BBWLogo {
  height: 4rem;
}

.txTable {
  flex: 1;
}
.txTable th {
  text-align: start;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -1rem;
}

.chartCard,
.infoCard {
  flex: 1;
  min-width: 30rem;
  border-radius: 0.4rem;
  height: 16vw;
  background-color: white;
  padding: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.bigStats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigStats p {
  margin: 0.5rem;
  font-size: 2rem;
}

.infoCard h2 {
  margin-top: 0;
}

.chartCard {
  flex: 2;
}

.footer p {
  color: #536ff2;
  font-weight: bold;
}

.galoyLogo {
  margin-left: 0.6rem;
  height: 1.8rem;
}

.chartCard h2 {
  margin-top: 0;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.statsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.statsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowLabel {
  text-align: center;
}

.rowValue {
  font-size: 1.6rem;
  text-align: center;
}
